
  <div
    class="py-3 mt-3 shadow-lg"
    style="background-color: #ffc720; font-size: 16px"
  >
    <div class="container">
      <div class="row text-white">
        <div class="col-md-4">
          <p>About us</p>
          <a href="#" class="text-white">About</a> <br />
          <a href="#" class="text-white">Offers</a> <br />
        </div>

        <div class="col-md-4">
          <p>Connect With Us</p>
          <a href="#" class="text-white">Facebook</a> <br />
          <a href="#" class="text-white">Twitter</a> <br />
          <a href="#" class="text-white">Instagram</a> <br />
        </div>
        <div class="col-md-4">
          <p>Let Us Help You</p>
          <a href="#" class="text-white">Your Account</a> <br />
          <a href="#" class="text-white">Help</a> <br />
        </div>
      </div>
    </div>
  </div>
